{{ $item := .item }}

<div class="pub-list-item" style="margin-bottom: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #ddd;">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  {{/* Title */}}
  <span class="article-title" style="font-size: 1.1em;">
    {{ with $item.Params.url_preprint }}
      <a href="{{ . }}" target="_blank">{{ $item.Title }}</a>
    {{ else }}
      {{ $item.Title }}
    {{ end }}
  </span>

  {{/* Authors */}}
  <div class="article-authors" style="color: #006621; margin: 0.5em 0;">
    {{ with $item.Params.authors }}
      {{ delimit . ", " }}
    {{ end }}
  </div>

  {{/* Publication name and date */}}
  <div class="article-metadata" style="color: #666;">
    {{ if $item.Params.publication }}
      {{- $item.Params.publication | markdownify -}}
    {{ end }}
    {{ if and $item.Params.publication $item.Date }} - {{ end }}
    {{ if $item.Date }}
      {{ $item.Date.Format "2006" }}
    {{ end }}
  </div>

  {{/* Links/Buttons */}}
  <div class="article-links" style="margin-top: 0.5em;">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
</div>